body {
	padding-top: 20px;
}

.food,
header {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	float: left;
	padding: 20px;
	width: 200px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1,
p {
	border-radius: 10px;
	padding: 10px;
}

.centerBlock {
	width: 660px;
	margin: 10px auto;
}

.heart {
	font-size: 30px;
	cursor: pointer;
	color: gray;
}

input[type='checkbox'] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	border: none;
	outline: 0;
}

input[type='checkbox']:focus {
	outline: 0;
}

input[type='checkbox']:checked {
	color: red;
}

input[type='text'] {
	margin-bottom: 10px;
}

.red {
	color: red;
}

.gray {
	color: gray;
}

.blue {
	color: #5080d8;
}

header {
	background-color: #cce5ff;
	float: none;
	width: auto;
}

.input-group {
	margin: 20px 20px 10px;
}

.glyphicon-trash,
.glyphicon-ok-circle,
.glyphicon-remove-circle,
.glyphicon-pencil {
	margin-top: 20px;
	font-size: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
.glyphicon-ok-circle,
.glyphicon-remove-circle {
	font-size: 40px;
}
.glyphicon-refresh-animate {
	-animation: spin 0.7s infinite linear;
	-webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}
